body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.timer {
    font-family: sans-serif;
    display: inline-block;
    padding: 24px 32px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.timer__part {
    font-size: 150px;
    font-weight: bold;
}

.timer__btn {
    font-size: 30px;
    width: 100px;
    height: 100px;
    margin-left: 16px;
    border-radius: 50%;
    border: none;
    color: white;
    background: #3c08e6;
    cursor: pointer;
}

.timer__btn--start {
    background: #00b84c;
}

.timer__btn--stop {
    background: #a80d0d;
}